@charset "utf-8";
body {
    text-align: center;
    font-size:95%;
    font-family:"MS Gothic",sans-serif;
    color:mintcream;
    background-color:burlywood;
}

div#main {
    width: 600px;
    margin: 0 auto;
    text-align: left;
}

h1,
h2 {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}